_build/
*.ipynb_checkpoints/
docs/spec_prop/monomer*
xyz/structopt/h2o_gsstructopt.log
docs/tutorials/veloxchem_*
docs/env/veloxchem_*
docs/visualize/veloxchem_*
docs/tutorials/tmp*
docs/mol_struct/veloxchem_*
docs/mol_struct/hs276_*
data/md/hs276_00.*
.DS_Store
*/.DS_Store
docs/tutorials/plot.pdf
docs/env/*pot
docs/spec_prop/veloxchem*h5